<?xml version="1.0" encoding="UTF-8"?>

<inputStream>
    <properties>
        <property name="driverclass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driverclass}"/>
                <property name="username" value="root"/>
                <property name="password" value="zengliang"/>
                <property name="url" value="${url}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TestDaoMapper.xml"/>
    </mappers>

</inputStream>